{% extends "index.html.twig" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
	<div class="col_16">
		<h1>Welcome to ReRePHPFW!</h1>
		<ul>
			<li>PHP Libs
				<ul>
					<li><a href="http://twig.sensiolabs.org/">Twig</a></li>
					<li><a href="http://symfony.com/doc/current/components/yaml.html">sfYaml</a></li>
					<li><a href="https://github.com/facebook/php-sdk">Facebook PHP SDK</a></li>
				</ul>
			</li>
			<li>Javascript
				<ul>
					<li><a href="http://jquery.com/">jQuery</a></li>
				</ul>
			</li>
			<li>CSS
				<ul>
					<li><a href="http://richclarkdesign.com">Richard Clark Reset</a></li>
					<li><a href="http://52framework.com/">52framework Grid System</a></li>
					<li><a href="http://simonwebdesign.com/simon-wp-framework/">Typography from Simon WP Framework</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}